@font-face {
    font-family: "Macherie";
    src: url("../_shared_assets/fonts/macherie.otf");
}

@font-face {
    font-family: "Neue-Regrade-Bold-Italic";
    src: url("../_shared_assets/fonts/NeueRegradeBoldItalic.otf");
}

@font-face {
    font-family: "Neue-Regrade-Regular-Italic";
    src: url("../_shared_assets/fonts/NeueRegradeRegularItalic.otf");
}

#foreground {
    width:1920px;
    height:1080px;
    z-index:-1;
    position:absolute;
    left:0px;
    top:0px;
}

#main {
    width:1920px;
    height:1080px;
    z-index:0;
    position:absolute;
    left:0px;
    top:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
	text-shadow: 0px 0px 8px black;
    font-size: 30px;
    font-family: "Neue-Regrade-Bold-Italic";
    font-weight: normal;
    color: #f0cdba;
}

#teamName {
    font-family:"Macherie";
    font-size:100px;
    position:absolute;
    top:560px;
}

#playerNames {
    font-family:"Neue-Regrade-Regular-Italic";
    font-size:36px;
    position:absolute;
    top:685px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#stageText {
    font-family: "Neue-Regrade-Regular-Italic";
    font-weight: normal;
    color: #f0cdba;
    margin-top:430px;
}